[build]
  base = "."
  command = "pnpm install --frozen-lockfile && cd brands/act-frontend && node ./build-netlify.js"
  publish = "brands/act-frontend/.next"
  functions = "brands/act-frontend/netlify/functions"

[build.environment]
  NODE_VERSION = "20.12.1"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[[headers]]
  for = "/*"
  [headers.values]
    Referrer-Policy = "strict-origin-when-cross-origin"
    X-Content-Type-Options = "nosniff"
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
